/* Base ---------------------------------------- */

* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

html, body,
h1, h2, h3, h4, h5, h6,
dl, dt, dd, ol, ul, li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  font: 300 1.6em/1.5 "Signika", sans-serif;
  background: hsl(48, 89%, 43%);
  color: #4d4d4d;
}

a {
  transition: all .2s;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: hsl(48, 89%, 87%);
}

a:hover {
  text-decoration: underline;
}


/* Utility ---------------------------------------- */

.inverted {
  color: #fff;
}

.align--center {
  text-align: center;
}

.unbreakable {
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}


/* Grid system ---------------------------------------- */

.gridCell--padded {
  padding: 1em;
}

.gridCell--row--justifyCenter {
  justify-content: center;
}

@media screen and (min-width: 60em) {
  .gridCell--row {
    display: flex;
    flex-direction: row;
  }

  .gridCell--padded {
    padding: 0.2em 2em;
  }

}


/* Page wrap ---------------------------------------- */

.pageWrap {
  max-width: 30em;
  margin: 0 auto;
}

@media screen and (min-width: 60em) {
  .pageWrap {
    max-width: 60em;
  }

}


/* Headlines ---------------------------------------- */

.headline {
  font-weight: inherit;
  margin: 1em 0 0.5em;
  text-shadow: 2px 2px 5px #222;
}

h1.headline {
  font-size: 2.4rem;
}

h2.headline {
  font-size: 2.1rem;
}

h3.headline {
  font-size: 1.8rem;
}

.headline__line {
  display: block;
  white-space: nowrap;
}


/* Call To Action ---------------------------------------- */

.callToActionWrap {
  display: block;
  text-align: center;
}

a.callToAction-signUp {
  color: #4d4d4d;
  display: block;
  margin: 0 1em;
  padding: .5em 0em;
  background-color: hsl(48, 89%, 78%);
  border-radius: 5px;
}


@media screen and (min-width: 60em) {
  a.callToAction-signUp {
    display: inline-block;
    margin: 0 1em 2em;
    padding: .5em 1em;
  }

}


/* Page headers ---------------------------------------- */

.pageHeader {
  line-height: 1;
  margin-top: 3rem;
  text-transform: uppercase;
}

.pageHeader__headline {
  margin: 0;
  display: inline-block;
}

.pageHeader__primary {
  font-size: 3.8rem;
  margin-bottom: 0.1em;
}

.pageHeader__secondary {
  letter-spacing: 1.05em;
  margin-right: -1.05em;
  color: #4d4d4d;
  font-size: 1.98rem;
  text-shadow: none;
}

@media screen and (min-width: 30em) {

  .pageHeader__primary {
    font-size: 4.2rem;
  }

  .pageHeader__secondary {
    font-size: 2.2rem;
  }

}

@media screen and (min-width: 60em) {
  .pageHeader {
    margin-bottom: 3rem;
  }

}


/* Programs ---------------------------------------- */

.program {
  max-width: 30em;
}

@media screen and (min-width: 60em) {
  .program__row {
    margin-bottom: 3rem;
  }

  .program__col + .program__col {
    border-left: 1px solid hsl(48, 89%, 60%);
  }

  .program__title {
    margin-top: 0;
  }

}


/* Meta ---------------------------------------- */

.meta {
  margin-bottom: 1em;
  font-size: 1.4rem;
  color: hsl(48, 89%, 87%);
}

.meta__item {
  margin-bottom: 0.25em;
}


/* Content ---------------------------------------- */

.content p {
  margin-bottom: 0.5em;
}

.crappy-class-name {
  padding: 1em 0 0;
}

a.callToAction-register {
  display: block;
  margin: 1em 0;
  color: #4d4d4d;
  background-color: hsl(48, 89%, 78%);
  border-radius: 5px;
  padding: 1.5em;
  text-align: center;
}


/* Basic lists ---------------------------------------- */

.basicList {
  margin-left: 1.5em;
}

.basicList li {
  margin-bottom: 0.5em;
  list-style-type: kannada;
}


/* Page footer ---------------------------------------- */

.pageFooter {
  width: 100%;
  border-top: 1px solid hsl(48, 89%, 60%);
  padding-top: 1em;
}

.pageFooter address {
  font-style: normal;
}

.pageFooter__item {
  margin-bottom: 1em;
}

.pageFooter__item__link {
  display: block;
  margin-bottom: 1.5em;
}

@media screen and (min-width: 30em) {
  .pageFooter__item__link {
    display: inline-block;
    margin: .75em .5em;
  }

}
