/* Base ---------------------------------------- */

* {
  box-sizing: border-box;
}

html, body,
h1, h2, h3, h4, h5, h6,
dl, dt, dd, ol, ul, li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  font: 300 1.6em/1.5 "Signika", sans-serif;
  background-image: url(img/bgwood.jpg);
  color: #4d4d4d;
}

a {
  transition: all .2s;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: hsl(48, 89%, 87%);
}

a:hover {
  text-shadow: 2px 2px 5px #222;
}


/* Utility ---------------------------------------- */

.inverted {
  color: #fff;
}

.align--center {
  text-align: center;
}

.unbreakable {
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}


/* Grid system ---------------------------------------- */

.gridCell--padded {
  padding: 1em;
}

.gridCell--row--justifyCenter {
  justify-content: center;
}

@media screen and (min-width: 60em) {
  .gridCell--row {
    display: flex;
    flex-direction: row;
  }

  .gridCell--padded {
    padding: 0.2em 2em;
  }

}


/* Page wrap ---------------------------------------- */

.pageWrap {
  max-width: 30em;
  margin: 50px auto;
  background: hsla(48, 89%, 43%, .8);
  border-radius: 70px;
}

@media screen and (min-width: 60em) {
  .pageWrap {
    max-width: 60em;
  }

}


/* Headlines ---------------------------------------- */

.headline {
  font-weight: inherit;
  margin: 1em 0 0.5em;
  text-shadow: 2px 2px 5px #222;
}

h1.headline {
  font-size: 2.4rem;
}

h2.headline {
  font-size: 2.1rem;
}

h3.headline {
  font-size: 1.8rem;
}

.headline__line {
  display: block;
  white-space: nowrap;
}



/* Banner ---------------------------------------- */

.banner {
  padding: 0 1em 1em;
  font-size: 1.5rem;
  text-align: center;
}


@media screen and (min-width: 60em) {
  .banner {
    margin: 0 auto 30px;
  }

  .banner a {
    padding: 0 1em;
    border-right: 2px solid hsl(48, 89%, 60%);
    border-left: 2px solid hsl(48, 89%, 60%);
    border-radius: 5px;
  }

}


/* Page headers ---------------------------------------- */

.pageHeader {
  line-height: 1;
  margin: 0 auto 2rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageHeader__logo {
  margin: 0 auto;
  height: 200px;
  background: url(img/logotop.png) no-repeat center;
  background-size: contain;
  opacity: .7;
}

.pageHeader__headline {
  margin: 0;
  display: inline-block;
}

.pageHeader__primary {
  font-size: 3.8rem;
  margin-bottom: 0.1em;
}

.pageHeader__secondary {
  letter-spacing: .625em;
  margin-right: -.625em;
  color: #4d4d4d;
  font-size: 1.98rem;
  text-shadow: none;
}

.sanskrit {
  display: none;
  width: 164px;
  height: 37px;
  background: url(img/sanskrit.svg) no-repeat center;
  background-size: contain;
  opacity: .5;
}


@media screen and (min-width: 30em) {

  .pageHeader__primary {
    font-size: 4.2rem;
  }

  .pageHeader__secondary {
    font-size: 2.2rem;
  }


}


@media screen and (min-width: 60em) {

  .pageHeader {
    margin-bottom: 3rem;
  }

  .pageHeader__logo {
    height: 250px;
  }


  .sanskrit {
    display: block;
  }


}


/* Programs ---------------------------------------- */

.program {
  max-width: 30em;
}

@media screen and (min-width: 60em) {
  .program__row {
    margin-bottom: 3rem;
  }

  .program__col + .program__col {
    border-left: 1px solid hsl(48, 89%, 60%);
  }

  .program__title {
    margin-top: 0;
  }

}


/* Meta ---------------------------------------- */

.meta {
  margin-bottom: 1em;
  font-size: 1.4rem;
  color: hsl(48, 89%, 87%);
}

.meta + .meta {
  border-top: 1px solid hsl(48, 89%, 60%);
  padding-top: 1em;
}

.meta__item {
  margin-bottom: 0.25em;
}

.meta__item--headline {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.05em;
}


/* Content ---------------------------------------- */

a.callToAction {
  display: block;
  margin: 1em 0;
  color: #4d4d4d;
  background-color: hsl(48, 89%, 78%);
  padding: 1.5em;
  text-align: center;
  text-shadow: none;
}

.content p {
  margin-bottom: 0.5em;
}

.content-extraPadding {
  padding: 1em 0 0;
}


/* Basic lists ---------------------------------------- */

.basicList {
  margin-left: 1.5em;
}

.basicList li {
  margin-bottom: 0.5em;
  list-style-type: kannada;
}


/* Page footer ---------------------------------------- */

.pageFooter {
  width: 100%;
  border-top: 1px solid hsl(48, 89%, 60%);
  padding: 1em 0;
}

.pageFooter address {
  font-style: normal;
}

.pageFooter__item {
  margin-bottom: 1em;
}

.pageFooter__item__link {
  display: block;
  margin-bottom: 1.5em;
}

.address {
  display: inline-block;
  padding: 15px 40px;
}

@media screen and (min-width: 30em) {
  .pageFooter__item__link {
    display: inline-block;
    margin: .75em .5em;
  }

}
